jenkins {
    version {
        artifactPattern = 'http://ftp-chi.osuosl.org/pub/jenkins/war/[revision]/[module].[ext]'
        artifact = ":jenkins:2.125@war"
    }
    host {
        url = ''
        adminEmail = 'tim.webster@gmail.com'
    }
}

startupScripts=[
    nexus: [
        artifactPattern: 'https://dl.bintray.com/buildit/maven/[organisation]/[module]/[revision]/[module]-[revision].[ext]',
        artifacts: ["com.buildit.jenkins:jenkins-startup-scripts:1.14.0@zip"]
    ]
]

libraries=[
        'buildit':['defaultVersion':'master', 'implicit':true, 'allowVersionOverride':true, 'scm':[branch: 'master', url:'https://github.com/buildit/jenkins-pipeline-libraries.git']],
]

credentials {
    azureServicePrinciple=['id': 'azure-sp-id', 'description': 'azure SP', 'subscriptionId':'ENC(AAAADI1KGudABjes5eIt23rK+w55rNrJdZAkB6wVDVEEgQ1ihi6Ze0YEVepFPEIjZDiB///X5ByRFfeneOD26jzou/w=)', 'clientId': 'ENC(AAAADAJft/F3HxdxNZnyI1zG7ADr1LQkbmpCrf0CCSsjyKATfwBnA0fv5+JwfM7nWsAFiWdXDI8IfUp6+4OlmCBoHqY=)', 'clientSecret': 'ENC(AAAADInrHu1ZdaB5ICovFs8dfo5Y4/T/IcDN096mkc7WCjeK+1Hwaf6Tikw87nNHH+3N1Wl+XwqdCMUm5q4StA==)', 'tenantId': 'ENC(AAAADJ4FG0sDBRGKLpHJSbzoE0k+BdnNefztC6ABCyIIXQi42kfDuQcv5XEMZQED698qaWVynAeoOWOhviNxyd5yW6E=)', 'azureEnvironment': "Azure", 'type': 'AzureCredentials']
    azureSecretString=['id': 'container-key', 'description': 'secret-description', 'servicePrincipalId': 'azure-sp-id', 'secretIdentifier': 'ENC(AAAADNqldHowyMEXXd77bF2ymqqMkJ/0JADtmmA7/3wNI/jjtmVrmXVh6RVLFkqgCmXlraMUzLipK39eW/c/ZogNNk0SM0O4HIWTRBtuaIWt2tWWvi1lCpO0yRUeUaaduiO4oITf4elPYlHL1U6oX2uF2R3x/EhtzT54j34FfgWr)', 'type': 'SecretStringCredentials']
    githubToken=['username':'timwebster9', 'password':'ENC(AAAADN50vhifAjIn9tegZTfwdNWCY3V3YRKQSaN8We2SIUJ84W8xvx3NurBRQrqxSDVGhQmC6FNteIhxou5Ebko/X7THuGE5)', 'description':'github token']
}

github {
    organisations=[
            [
                    // Github.com
                    name:"hmcts",
                    displayName:"hmcts",
                    description:"HMCTS Github Organisation",
                    project:[
                            apiEndpoint:"GitHub",  // default endpoint present in Jenkins for github.com
                            owner:"hmcts",
                            credentialsId:"githubToken",
                            repositoryNamePattern:"*rhubarb*"
                    ]
             ]

    ]
}

jobdsl {
    jobdsl=[url:"https://github.com/timwebster9/jenkins-config-home", targets:"jobdsl/*.groovy", branch:"*/master"]
}

clouds {
    kubernetes {
        sandbox {
            [
                cloudName = "kubernetes",
                serverUrl = 'https://kubernetes.default.svc',
                namespace = 'buildit-jenkins',
                jenkinsUrl = 'http://buildit-jenkins',
                skipTlsVerify = true,
                containerCapStr = '25',
                connectTimeout = 300,
                readTimeout = 300,
                retentionTimeout = 300,
                podTemplates = [
                    [
                        name: 'base',
                        namespace: 'default',
                        command : '',
                        args : '',
                        remoteFs : '',
                        label : '',
                        serviceAccount : '',
                        nodeSelector : '',
                        resourceRequestCpu : '',
                        resourceRequestMemory : '',
                        resourceLimitCpu : '',
                        resourceLimitMemory : '',
                        privileged : true,
                        alwaysPullImage : true,
                        slaveConnectTimeout : 100,
                        idleMinutes : 1,
                        podVolumes : [
                                [type: "HostPathVolume", hostPath:'/var/run/docker.sock', mountPath:'/var/run/docker.sock']
                        ],
                        nodeUsageMode : [type: "NORMAL"]
                    ]
                ]
            ]
        }
    }
}

jnlp {
    port = 5000
}

plugins=[
    public: [
        artifactPattern: 'http://ftp-chi.osuosl.org/pub/jenkins/plugins/[module]/[revision]/[module].[ext]',
        pluginArtifacts: [
            "ace-editor:1.1",
            "active-directory:2.0",
            "anchore-container-scanner:1.0.12",
            "ansible:0.6.2",
            "azure-credentials:1.6.0",
            "authentication-tokens:1.3",
            "blueocean:1.0.1",
            "blueocean-autofavorite:1.2.2",
            "blueocean-commons:1.5.0",
            "blueocean-config:1.5.0",
            "blueocean-dashboard:1.5.0",
            "blueocean-display-url:2.2.0",
            "blueocean-events:1.5.0",
            "blueocean-git-pipeline:1.5.0",
            "blueocean-github-pipeline:1.5.0",
            "blueocean-i18n:1.5.0",
            "blueocean-jira:1.5.0",
            "blueocean-jwt:1.5.0",
            "blueocean-personalization:1.5.0",
            "blueocean-pipeline-api-impl:1.5.0",
            "blueocean-pipeline-editor:1.5.0",
            "blueocean-pipeline-scm-api:1.5.0",
            "blueocean-rest:1.5.0",
            "blueocean-rest-impl:1.5.0",
            "blueocean-web:1.5.0",
            "bouncycastle-api:2.16.1",
            "branch-api:2.0.9",
            "cloudbees-folder:6.4",
            "command-launcher:1.2",
            "confluence-publisher:1.8",
            "credentials:2.1.16",
            "credentials-binding:1.16",
            "custom-tools-plugin:0.5",
            "config-file-provider:2.16.0",
            "disk-usage:0.28",
            "display-url-api:2.0",
            "docker-commons:1.13",
            "docker-workflow:1.17",
            "durable-task:1.17",
            "envinject:2.1",
            "extended-choice-parameter:0.76",
            "favorite:2.0.4",
            "git:3.7.0",
            "github:1.27.0",
            "github-api:1.90",
            "github-branch-source:2.3.4",
            "git-client:2.4.6",
            "git-server:1.7",
            "global-build-stats:1.4",
            "gradle:1.26",
            "handlebars:1.1.1",
            "hockeyapp:1.2.2",
            "htmlpublisher:1.13",
            "icon-shim:2.0.3",
            "jackson2-api:2.7.3",
            "javadoc:1.4",
            "jdk-tool:1.1",
            "jira:2.3.1",
            "job-dsl:1.63",
            "jquery:1.11.2-0",
            "jquery-detached:1.2.1",
            "junit:1.21",
            "kubernetes:1.6.2",
            "kubernetes-credentials:0.3.1",
            "ldap:1.15",
            "next-build-number:1.4",
            "mailer:1.20",
            "matrix-auth:1.6",
            "matrix-project:1.11",
            "maven-plugin:2.15.1",
            "metrics:3.1.2.9",
            "momentjs:1.1.1",
            "permissive-script-security:0.1",
            "pipeline-build-step:2.5",
            "pipeline-github-lib:1.0",
            "pipeline-graph-analysis:1.3",
            "pipeline-input-step:2.7",
            "pipeline-milestone-step:1.3.1",
            "pipeline-model-definition:1.1.4",
            "pipeline-model-declarative-agent:1.1.1",
            "pipeline-model-extensions:1.1.4",
            "pipeline-rest-api:2.8",
            "pipeline-stage-step:2.2",
            "pipeline-stage-view:2.8",
            "pipeline-model-api:1.1.4",
            "pipeline-stage-tags-metadata:1.1.4",
            "plain-credentials:1.4",
            "prometheus:1.1.1",
            "publish-over-ssh:1.17",
            "pubsub-light:1.8",
            "repository-connector:1.1.3",
            "resource-disposer:0.3",
            "role-strategy:2.4.0",
            "scm-api:2.2.6",
            "scriptler:2.9",
            "script-security:1.44",
            "slack:2.2",
            "sonar:2.6.1",
            "swarm:3.4",
            "sse-gateway:1.15",
            "ssh-agent:1.15",
            "ssh-credentials:1.13",
            "ssh-slaves:1.17",
            "structs:1.14",
            "timestamper:1.8.8",
            "token-macro:2.1",
            "toolenv:1.1",
            "uno-choice:1.5.3",
            "variant:1.1",
            "workflow-aggregator:2.5",
            "workflow-api:2.27",
            "workflow-basic-steps:2.5",
            "workflow-cps-global-lib:2.8",
            "workflow-cps:2.53",
            "workflow-durable-task-step:2.11",
            "workflow-job:2.21",
            "workflow-multibranch:2.19",
            "workflow-scm-step:2.6",
            "workflow-step-api:2.14",
            "workflow-support:2.17",
            "ws-cleanup:0.34",
            "variant:1.0"]
    ]
]
